/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
*, *:after, *:before {
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a:visited {
  color: inherti;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}
.top-container {
  background-size: cover;
  background-image: url("../img/EQK8N3KVAAAZFGi.jpeg");
  height: 700px;
  color: white;
  margin: 0;
  padding: 0;
}

.heading {
  font-family: "Anton", sans-serif;
  font-size: 20px;
  margin: 0;
  padding-top: 100px;
  text-align: center;
  letter-spacing: 3px;
  color: black;
}

.heading #title {
  font-size: 80px;
  font-weight: bold;
  margin: 60px;
  color: white;
  font-family: "Allerta Stencil", sans-serif;
}

.job-conditions {
  margin: 160px 380px 80px;
  background-color: white;
  opacity: 0.7;
  padding: 20px 0;
}

header {
  height: 100px;
  text-align: center;
}

#global-nav {
  background-color: #212529;
  font-family: "Allerta Stencil", sans-serif;
}

#global-nav.m_fixed {
  left: 0;
  position: fixed;
  top: 0;
}

.nav-container {
  text-align: center;
  padding: 40px 70px 40px 100px;
  color: white;
}

.nav-container ul {
  display: flex;
  width: 1060px;
  font-size: 25px;
  font-weight: bold;
  justify-content: space-between;
  text-align: center;
}

.nav-profile:hover {
  color: #e09174;
}

.nav-skills:hover {
  color: #e09174;
}

.nav-job:hover {
  color: #e09174;
}

.nav-work:hover {
  color: #e09174;
}

.nav-blog:hover {
  color: #e09174;
}

.nav-project:hover {
  color: #e09174;
}

.nav-contact:hover {
  color: #e09174;
}

.middle-wrapper {
  text-align: center;
  font-family: "Allerta Stencil", sans-serif;
}

.middle-container {
  margin-top: 250px;
}

.middle-container h2 {
  font-size: 50px;
  font-family: "Allerta Stencil", sans-serif;
  letter-spacing: 1px;
}

.middle-container img {
  width: 300px;
  height: 350px;
  border-radius: 50%;
  padding: 30px;
}

.job-icon {
  height: 180px;
  font-size: 30px;
}

.github {
  height: 150px;
  width: 150px;
}

.twitter {
  height: 150px;
  width: 150px;
}

.mail {
  height: 150px;
  width: 150px;
}

.mail:hover {
  color: #ff6a2f;
}

.url-mai:hover {
  color: #ff6a2f;
}

.url-git:hover {
  color: mediumpurple;
}

.url-twi:hover {
  color: #1da1f2;
}

.profile {
  height: 1100px;
  background-color: #3f3d3d;
  padding-top: 5px;
}

.title {
  font-weight: bolder;
}

.profile-title {
  color: white;
}

.user-card {
  font-size: 40px;
}

.profile h3 {
  font-family: "Allerta Stencil", sans-serif;
  font-size: 40px;
  border-bottom: 2px solid white;
  margin: 50px 60px;
  padding-bottom: 40px;
  letter-spacing: 1px;
}

.plofile p {
  font-family: "Kosugi Maru", sans-serif;
  letter-spacing: 10px;
  margin-bottom: 5px;
}

.fadein-pro {
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 2em;
  color: white;
}

.skill-wrapper {
  text-align: center;
}

.skill-card {
  font-size: 40px;
  padding-top: 0;
  margin-bottom: 5px;
}

.skill-container h3 {
  font-family: "Allerta Stencil", sans-serif;
  font-size: 40px;
  border-bottom: 2px solid #1b1725;
  margin: 50px 60px;
  padding-bottom: 40px;
  letter-spacing: 1px;
}

.icons {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 3;
  align-items: center;
  margin: 100px 300px 100px 300px;
}

.icon i {
  font-size: 150px;
}

.icon p {
  margin-bottom: 60px;
  font-family: "Allerta Stencil", sans-serif;
}

.icon-p {
  height: 190px;
}

.jobs-wrapper {
  height: 1150px;
}

.jobs-container {
  text-align: center;
  padding-top: 50px;
}

.job-card {
  font-size: 40px;
  padding-top: 0;
  margin-bottom: 5px;
  color: black;
}

.jobs-container h3 {
  font-family: "Allerta Stencil", sans-serif;
  font-size: 40px;
  border-bottom: 2px solid black;
  margin: 30px 60px;
  padding-bottom: 40px;
  letter-spacing: 1px;
  color: black;
}

.job-back {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.job-img {
  background-image: url("../img/a0001402_parts_5976ae8ad8f72.jpg");
  background-size: 150%;
  background-repeat: no-repeat;
  margin-top: 70px;
  margin-right: 55px;
  height: 850px;
  background-position: 25% 1%;
}

.jobs {
  flex-direction: column;
}

.job {
  display: block;
  justify-content: space-between;
  margin-left: 50px;
  width: 550px;
}

.job-1 {
  margin-top: 100px;
  margin-left: 30px;
  width: 450px;
}

.job-2 {
  margin-top: 50px;
  margin-left: 60px;
}

.job h4 {
  color: black;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
  opacity: 1;
}

.job-1:hover {
  color: black;
}

.job-2:hover {
  color: black;
}

.job-me {
  height: 200px;
  width: 460px;
  margin-left: 50px;
  margin-top: 50px;
  color: black;
}

.job-comment {
  font-weight: bold;
  color: black;
  font-size: 17px;
  letter-spacing: 3px;
  line-height: 30px;
}

.works {
  height: 2500px;
}

.work-container {
  margin-bottom: 200px;
  height: 2500px;
}

.work-title {
  text-align: center;
}

.work-card {
  font-size: 40px;
  padding-top: 0;
  margin-bottom: 5px;
}

.work-container h3 {
  font-family: "Allerta Stencil", sans-serif;
  font-size: 40px;
  border-bottom: 2px solid #1b1725;
  margin: 0 60px 50px 60px;
  padding-bottom: 40px;
  letter-spacing: 1px;
  padding-top: 50px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.item-A {
  font-family: "Allerta Stencil", sans-serif;
  text-align: center;
  margin-bottom: 10%;
  line-height: 50px;
  font-weight: bolder;
  margin-top: 100px;
  margin-left: 70px;
  font-size: 30px;
  font-weight: bold;
}

.item-B {
  font-family: "Allerta Stencil", sans-serif;
  margin-bottom: 10%;
  margin-left: 100px;
  margin-top: 100px;
  line-height: 50px;
  font-weight: bolder;
}

.container img {
  width: 80%;
  height: 100%;
  display: block;
  margin-left: 5rem;
  margin-bottom: 1rem;
}

.h5 {
  font-weight: bold;
}

a:link {
  color: black;
}

.url-qiita:hover {
  color: #6fd409;
  text-decoration: underline;
}

.src-btn {
  position: relative;
  transition: none;
  margin-top: 40px;
  border-radius: 4px;
  height: 55px;
  width: 50%;
  background-color: lightslategray;
  box-shadow: 5px 5px 0 #212529;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  color: white;
  font-size: 15px;
}

.src-btn:hover {
  top: -4px;
  box-shadow: 10px 10px 0 #212529;
}

.src-btn:active {
  box-shadow: none;
  top: 3px;
}

.blog-container {
  padding-bottom: 200px;
  height: 1000px;
  background-color: #eff0f1;
}

.blog-title {
  text-align: center;
}

.blog-card {
  color: black;
  font-size: 40px;
  padding-top: 0;
  margin-bottom: 5px;
  opacity: 1;
}

.blog-container h3 {
  color: black;
  font-family: "Allerta Stencil", sans-serif;
  font-size: 45px;
  border-bottom: 2px solid black;
  margin: 0 60px 50px 60px;
  padding-bottom: 40px;
  letter-spacing: 1px;
  padding-top: 50px;
  opacity: 1;
}

.container-b {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.blog-A {
  font-family: "Allerta Stencil", sans-serif;
  text-align: center;
  margin-bottom: 10%;
  line-height: 50px;
  font-weight: bolder;
  margin-top: 150px;
  margin-left: 70px;
  font-size: 60px;
  font-weight: bold;
}

.blog-B {
  font-family: "Allerta Stencil", sans-serif;
  margin-bottom: 10%;
  margin-left: 100px;
  margin-top: 120px;
  line-height: 100px;
  font-weight: bolder;
  font-size: 20px;
  color: black;
}

.container-b img {
  width: 80%;
  height: 100%;
  display: block;
  margin-left: 5rem;
  margin-bottom: 1rem;
}

.project-container {
  padding-bottom: 200px;
  height: 1000px;
  background-color: #3f3d3d;
}

.project-title {
  text-align: center;
}

.project-card {
  color: white;
  font-size: 40px;
  padding-top: 0;
  margin-bottom: 5px;
}

.project-container h3 {
  color: white;
  font-family: "Allerta Stencil", sans-serif;
  font-size: 40px;
  border-bottom: 2px solid white;
  margin: 0 60px 50px 60px;
  padding-bottom: 40px;
  letter-spacing: 1px;
  padding-top: 50px;
}

.project-A {
  font-family: "Allerta Stencil", sans-serif;
  text-align: center;
  margin-bottom: 10%;
  line-height: 20px;
  margin-top: 150px;
  margin-left: 70px;
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.project-B {
  font-family: "Allerta Stencil", sans-serif;
  margin: 150px 60px 40px 110px;
  line-height: 80px;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.project-A img {
  width: 450px;
  height: 270px;
  display: block;
  margin-top: 4rem;
  margin-left: 5rem;
  margin-bottom: 1rem;
}

.contact-wrapper {
  background-image: url("../img/EeFikWuUwAAHVCZ.jpeg");
  background-size: cover;
  height: 800px;
}

.contact-container {
  text-align: center;
}

.contact-card {
  color: white;
  font-size: 40px;
  padding-top: 0;
  margin-bottom: 5px;
}

.contact-container h3 {
  color: white;
  font-family: "Allerta Stencil", sans-serif;
  font-size: 40px;
  border-bottom: 2px solid white;
  margin: 0 60px 50px 60px;
  padding-bottom: 40px;
  letter-spacing: 1px;
  padding-top: 50px;
}

.contact {
  margin-bottom: 40px;
}

.contact input {
  border: none;
  border-radius: 4px;
  height: 55px;
  width: 60%;
  padding-left: 8px;
}

.contact textarea {
  border: none;
  border-radius: 4px;
  height: 100px;
  width: 60%;
  padding-top: 8px;
  padding-left: 8px;
}

.btn {
  position: relative;
  transition: none;
  margin-top: 40px;
  border-radius: 4px;
  height: 55px;
  width: 50%;
  background-color: lightslategray;
  box-shadow: 0 3px 0 gray;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  color: white;
  font-size: 15px;
}

.btn:hover {
  top: -4px;
  box-shadow: 0 7px 0 gray;
}

.btn:active {
  box-shadow: none;
  top: 3px;
}

footer {
  background-color: #212529;
  color: white;
  height: 180px;
  text-align: center;
}

.footer-write p {
  font-family: "Allerta Stencil", sans-serif;
  margin: 0;
  color: white;
  letter-spacing: 2px;
  padding: 40px 0;
}

.footer-sns {
  height: 70px;
}

.footer-sns i {
  font-size: 30px;
  padding: 0 40px;
  cursor: pointer;
  color: white;
  height: 30px;
  width: 50px;
}

.github:hover {
  color: mediumpurple;
}

.twitter:hover {
  color: #1da1f2;
}

.stack-1x:hover {
  color: lawngreen;
}
/*# sourceMappingURL=main.css.map */