header {
  height: 100px;
  text-align: center;
}

#global-nav {
  background-color: #212529;
  font-family: "Allerta Stencil", sans-serif;
}

#global-nav.m_fixed {
  left: 0;
  position: fixed;
  top: 0;
}

.nav-container {
  text-align: center;
  padding: 40px 70px 40px 100px;
  color: white;
  ul {
    display: flex;
    width: 1060px;
    font-size: 25px;
    font-weight: bold;
    justify-content: space-between;
    text-align: center;
  }
}

.nav-profile:hover {
  color: rgb(224, 145, 116);
}

.nav-skills:hover {
  color: rgb(224, 145, 116);
}

.nav-job:hover {
  color: rgb(224, 145, 116);
}

.nav-work:hover {
  color: rgb(224, 145, 116);
}

.nav-blog:hover {
  color: rgb(224, 145, 116);
}

.nav-project:hover {
  color: rgb(224, 145, 116);
}

.nav-contact:hover {
  color: rgb(224, 145, 116);
}
