.profile {
  height: 1100px;
  background-color: rgb(63, 61, 61);
  padding-top: 5px;
}

.title {
  font-weight: bolder;
}

.profile-title {
  color: white;
}

.user-card {
  font-size: 40px;
}

.profile h3 {
  font-family: "Allerta Stencil", sans-serif;
  font-size: 40px;
  border-bottom: 2px solid white;
  margin: 50px 60px;
  padding-bottom: 40px;
  letter-spacing: 1px;
}

.plofile p {
  font-family: "Kosugi Maru", sans-serif;
  letter-spacing: 10px;
  margin-bottom: 5px;
}

.fadein-pro {
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 2em;
  color: white;
}
