.services-wrapper {
    background-image: url("../img/5ecf5433d6a14-750x501");
    background-size: cover;
    height: 950px;
}
.services-container {
    text-align: center;
    padding-top: 50px;
}

.service-card {
    font-size: 40px;
    padding-top: 0;
    margin-bottom: 5px;
    color: white;
}

.services-container h3{
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    border-bottom: 2px solid white;
    margin: 50px 60px;
    padding-bottom: 40px;
    letter-spacing: 1px;
    color: white;
}

.s-i {
    border: 1px solid white;
    border-radius: 50%;
    font-size: 40px;
    padding: 50px;
    background-color: white;
}

.s-m {
    border: 1px solid white;
    border-radius: 50%;
    font-size: 40px;
    padding: 50px 60px 50px 60px;
    background-color: white;
}

.services {
    display: flex;
    flex-direction: column;
}

.service {
    margin-top: 10px;
    margin-bottom: 30px;
}
.service h4 {
    color:black;
    font-size: 25px;
    letter-spacing: 2px;
    margin: 30px 450px;
    padding: 20px 0;
    background-color: white;
    opacity: 0.9;
    
}

.service p {
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 0 200px;
    color: white;
    line-height: 30px;
}

.fadein {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s;
    color: black;
}

.fadein p {
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 55px;
    color: black;

}