.works {
  height: 1000px;
}

.work-container {
  text-align: center;
  margin-bottom: 60px;
  height: 1500px;
}

.work-card {
  font-size: 40px;
  padding-top: 0;
  margin-bottom: 5px;
}
.work-container h3 {
  font-family: "Anton", sans-serif;
  font-size: 40px;
  border-bottom: 2px solid rgb(27, 23, 37);
  margin: 0 60px 50px 60px;
  padding-bottom: 40px;
  letter-spacing: 1px;
  padding-top: 50px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.item {
  margin-bottom: 10%;
  line-height: 50px;
  font-weight: bolder;
}
.container img {
  width: 80%;
  height: 100%;
  display: block;
  margin-left: 5rem;
  margin-bottom: 1rem;
}
