.top-container {
  background-size: cover;
  background-attachment: fixed;
  height: 635px;
  color: white;
  margin: 0;
  padding: 0;
}

.heading {
  #title {
    font-size: 80px;
    font-weight: bold;
    margin: 60px;
    color: white;
    font-family: "Allerta Stencil", sans-serif;
  }
  #title span {
    opacity: 0;
  }
  font-family: "Anton", sans-serif;
  font-size: 20px;
  margin: 0;
  padding-top: 100px;
  text-align: center;
  letter-spacing: 3px;
  color: black;
}

.job-conditions {
  margin: 160px 380px 80px;
  background-color: white;
  opacity: 0.7;
  padding: 20px 0;
}
